

/* Media PLayer */

/* main */
.player {
    width: 860px;
    height: 240px;
    position: relative;
}

.player_background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position-x: 50%;
    background-position-y: 50%;
}

/*Nền phông đen mờ của player*/
.player_background_msk{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
}

/*chữ lyric thông thường*/
.player_lyric {
    position: static;
    left: 0px;
    width: 100%;
    height: 100px;
    text-align:center;
    font-size: 20px;
    padding-top: 50px;
    color: #ffffff;
}

p.lyric_item {
    position:relative;
    font-family: "Roboto",sans-serif !important;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    white-space: nowrap;
    display: inline-block;
    color: inherit;
    outline: none;
    overflow: hidden;
}

/*type chữ chạy karaoke*/
span.span_kara {
     width: 0%;
     position:absolute;
     top: 0;
     left:0; 
     text-align:left;
     color:rgba(110, 140, 210, 1);
     overflow:hidden;
     -webkit-text-stroke-width: 1px;
}

p.current {
    color: #FFF200;
    position: relative;
}

/*Thanh thời gian*/
.timeslide {
    display: block;
    position: static;
    margin-top: 40px;
    height: 4px;
    width: 100%;
    cursor: pointer;
}
.timeslideExtend {
    display: block;
    position: static;
    margin-top: 40px;
    margin-bottom: -1px;
    top: -1px;
    height: 6px;
    width: 100%;
    cursor: pointer;
}


.timeslideloaded {
    position: relative;
    height: 4px;
    margin-bottom: -4px;
    background-color: rgba(45,45,45,0.45);
}

.timeslideloadedExtend {
    position: relative;
    top: -1px;
    height: 6px;
    margin-bottom: -6px;
    background-color: rgba(45,45,45,0.45);
}


.timeslidecurrent {
    position: relative;
    height: 4px;
    background-color: rgba(110, 140, 210, 1);
}

.timeslidecurrentExtend {
    position: relative;
    top: -1px;
    height: 6px;
    background-color: rgba(110, 140, 210, 1);
}

.timeNode {
    width: 8px;
    height: 16px;
    position: absolute; 
    left:100%;
    margin-top: -4px;
    margin-left: -4px;
    display: none; 
    background-color: white;
    z-index: 10;
}

/*Control bar*/
.controlbar {
    position: relative;
    height: 47px;
    width: 780px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    background: rgba(75, 75, 75, 0.3);
}

/* Toogle button play/pause*/
.controlbtn {
    width: 25px;
    height: 25px;
    margin-top: 8px;
    margin-right: 12px;
    float: left;
    cursor: pointer;
    display: inline-block;
    background-size: cover;
}

.alignright {
    float: right;
}

.disable {
    opacity: 0.4;
    filter: alpha(opacity = 40); /*for IE8 and earlier*/
    cursor: default;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.playbtn {
/*Trạng thái nút play*/
    background-image: url("../../Images/mediaplayer/playbtn.png");
}

.pausebtn {
/*Trạng thái nút pause*/
    background-image: url("../../Images/mediaplayer/pausebtn.png");
}
.loopbtn {
    /*Nút lặp, sau khi kết thúc album hoặc bài hát thì play lại từ đầu*/
    background-image: url("../../Images/mediaplayer/loop.png");
}
.noloopbtn {
    /*Nút không lặp, sau khi kết thúc bài hát thì dừng*/
    background-image: url("../../Images/mediaplayer/noloop.png");
}
.looponebtn {
    /*Lặp một bài hát, chỉ xuất hiện trong play album*/
    background-image: url("../../Images/mediaplayer/loopone.png");
}
.shufflebtn {
    /*Trộn bài hát, chỉ xuất hiện trong play album*/
    background-image: url("../../Images/mediaplayer/shuffle.png");
}
.volume0 {
    background-image: url("../../Images/mediaplayer/volume0.png");
}
.volume1 {
    background-image: url("../../Images/mediaplayer/volume1.png");
}
.volume2 {
    background-image: url("../../Images/mediaplayer/volume2.png");
}
.volume3 {
    background-image: url("../../Images/mediaplayer/volume3.png");
}
.nextbtn {
    background-image: url("../../Images/mediaplayer/nextbtn.png");
}

.timeinfospan {
    font-size: 12px;
    float: left;
    color: rgba(110, 140, 210, 1);
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.volumebar {
    position: relative;
    width: 100px;
    height: 2px;
    float: right;
    margin-top: 19px;
    margin-right: 12px;
    cursor: pointer;
    background-color: rgba(58,58,58,0.9);
}

.volumeavaiable {
    display: block;
    position: relative;
    width: 0%;
    height: inherit;
    top: 0px;
    left: 0px;
    background-color: rgba(110, 140, 210, 1);
}

.volumenode {
    display: block;
    position: absolute;
    top: -3px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    left:100%;
    background-color: white;
    z-index: 10;
}


.videoplayer {
    background-color: #3C3C3C;
    margin-left: 150px;
}