/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
    color: #333;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover {
    text-decoration: none;
}

/* MAIN SETTING */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.container {
    margin: 0 auto;
    width: 1190px;
    height: 100%;
    clear: both;
    overflow: hidden;
}

.clear {
    clear: both;
}

body {
	background-color: #ffffff;
	color: #333333;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	margin: 0;
}

a:visited {
	color: #333333;
}

a:hover {
	color: #2582be;
}

.content {
    overflow: hidden;
    width: 860px;
}

.sidebar {
    width: 300px;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.top-menu {
    background-color: #111;
    color: #fff;
    height: 50px;
    width: auto;
}

.second-menu {
    z-index: 1;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.second-menu ul.level-1-menu {
}

.second-menu ul li {
    float: left;
    list-style: outside none none;
    position: relative;
    height: 100%;
}

ul.level-1-menu > li > a {
    font-size: 15px;
    line-height: 45px;
    padding: 0 15px;
    display: block;
}

ul.level-1-menu > li:hover {
    background-color: #f2f2f2;
}

.second-menu li:hover .level-2-menu {
    display: block;
}

.level-2-menu {
    padding: 20px 15px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    transition: opacity linear 0.15s;
    background-color: #fff;
    min-width: 180px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 3px 8px #d9d9d9;
}
    .level-2-menu a {
        float: left;
    }

    .level-2-menu li {
        display: block;
        clear: both;
    }

.menu-col-1 {
    width: 170px;
}

.menu-col-2 {
    width: 342px;
}

.menu-col-3 {
    width: 512px;
}

.subcol {
    float: left;
}

.sub-title {
    border-left: 2px solid #fff;
    color: #fff !important;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
}

.sub-item {
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}

ul.sub-item li
{
    padding: 5px 10px;
    display: inline-block;
    background: #111;
    margin-right: 10px;
}

ul.sub-item li:hover
{
    opacity: .5;
}

ul.sub-item li a
{
    color: #E4E4E2;
}


.box_left {
    width: 860px;
    float: left;
}

.box_right {
    width: 300px;
    float: right;
}

.title_box {
    font-size: 25px;
    font-weight: 300;
}

    .title_box a {
        color: #ff6a00;
    }

    .title_box a:hover {
        color: #2582be;
    }

.slider {
    height: 360px;
    background-color: #dddddd;
    margin-bottom: 10px;
}

.list_music, .list_album, list_video {
    overflow: hidden;
    margin-bottom: 20px;
}

.list_music ul {
    margin-bottom: 10px;
}

.info_song, .chart_info_song  {
    border-bottom: 1px solid #f2f2f2;
    overflow: hidden;
    padding: 15px 0;
    font-size: 15px;
}

.info_song h3 {
    float: left;
}

.info_song span {
    float: right;
}

.list_album ul li, .list_video ul li {
    float: left;
    margin-right: 20px;
    position: relative;
}

.thumbnail {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #f2f2f2;
}

.thumbnail .play-icon {
    color: #000;
    opacity: 0.0;
    position: absolute;
    -webkit-transition: all 500ms; /* Chrome, Safari, Opera */
    -moz-transition: all 500ms; /* Firefox */
    transition: all 500ms;
    z-index: 2;
}

.thumbnail:hover .play-icon {
    opacity: 0.8;
    transform: translateY(50%);
}

.thumbnail img {
    z-index: 1;
}

.list_album a.thumbnail img, .list_video a.thumbnail img  {
    width: 190px;
    height: auto;
}

.list_album .thumbnail {
    width: 190px;
    height: 190px;
}

.list_album .play-icon {
    font-size: 50px;
    left: 70px;
    top: 45px;
}

.list_video .play-icon {
    font-size: 50px;
    left: 70px;
    top: 10px;
}

.description h3 a {
    font-size: 18px;
}

.description h4 a {
    color: #8e8e8e;
    font-size: 14px;
}

.chart_info_song h3 {
    clear: both;
}

.chart_info_song > a {
    font-size: 13px;
    color: #888;
}

.chart_info_song span {
    font-size: 14px;
    float: right;
}

footer {
    background: #222428;
    padding: 20px 0;
}

footer p {
    color: #fff;
}

.nav-account {
    float: right;
    color: #fff;
    font-size: 15px;
    line-height: 50px;
}

    .nav-account span {
        color: #fff;
    } 

    .nav-account a {
        color: #fff;
    }

/* Login Popup */

.centeredText  {
    text-align:  center;
     margin:  20px 0;
     clear:  both;
     overflow:  hidden;
     text-transform:  uppercase;
}
 
 
.action_btns  {
    clear: both;
     overflow:  hidden;
}
 
.action_btns a  {
    display:  block;
}

#lean_overlay {
        position: fixed;
        z-index: 100;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: #000;
        display: none;
}

.popupContainer {
        position: absolute;
        width: 330px;
        height: auto;
        left: 45%;
        top: 60px;
        background: #FFF;
}

.btn {
        padding: 10px 20px;
        background: #F4F4F2;
}

.btn_red {
        background: #ED6347;
        color: #FFF;
}

.btn:hover {
        background: #E4E4E2;
}

.btn_red:hover {
        background: #C12B05;
}

a.btn {
        color: #666;
        text-align: center;
        text-decoration: none;
}

a.btn_red {
        color: #FFF;
}

.one_half {
        width: 50%;
        display: block;
        float: left;
}

.one_half.last {
        width: 45%;
        margin-left: 5%;
}

/* Popup Styles */

.popupHeader {
        font-size: 16px;
        text-transform: uppercase;
}

.popupHeader {
        background: #F4F4F2;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #DDD;
        font-weight: bold;
}

.popupHeader .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #E4E4E2;
        cursor: pointer;
        color: #aaa;
        font-size: 16px;
}

    .popupHeader .header_title {
        color: #333;
    }

.popupBody {
        padding: 20px;
}

/* User Login Form */

.user_login {
        display: none;
}

.user_login label {
        display: block;
        /*margin-bottom: 5px;*/
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
}

.user_login input[type="checkbox"] {
        float: left;
        margin: 4px 5px 0 0;
}

.user_login input[type="checkbox"]+label {
        float: left;
}

.user_login .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}

.forgot_password {
        display: block;
        margin: 20px 0 10px;
        clear: both;
        overflow: hidden;
        text-decoration: none;
        color: #ED6347 !important;
}

/* User Register Form */

.user_register {
        display: none;
}

.user_register label {
        display: block;
        margin-bottom: 5px;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
}

.user_register input[type="checkbox"] {
        float: left;
        margin-right: 5px;
}

.user_register input[type="checkbox"]+label {
        float: left;
}

.user_register .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
}

/* ALBUM INDEX */

.category {
    background: #000;
    padding: 10px 20px;
    overflow: hidden;
}

.category-title {
    font-size: 25px;
    font-weight: 700;
    padding: 5px 10px;
}

.category-header {
    font-size: 20px;
    font-weight: 400;
    padding: 5px 10px;
}

.category-panel {
    display: none;
    overflow: hidden;
    background: #000;
}

.sub-category {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}

.album-list li {
    float: left;
    margin: 10px 30px 10px 0;
}

.album-page {
    overflow: hidden;
    margin-right: -20px;
}

.album-page .thumbnail {
    width: 210px;
    height: 210px;
}

.album-page .thumbnail img {
    width: 210px;
    height: auto;
    transition: all 500ms;
}

.album-page .play-icon {
    font-size: 70px;
    top: 35px;
    left: 75px;
}

.album-page .thumbnail:hover img {
    transform: scale(1.1) rotate(5deg);
}

.album-page .like-icon {
    font-size: 15px;
    color: #fff;
}

.is-fixed-top {
    position: fixed;
    top: 0;
}
