<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Web Nghe Nhạc</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    </head>
    <body>
        <header>
            <nav class="top-menu">

		    </nav>

		    <nav class="second-menu">
                @RenderPage("~/Views/Shared/_SecondMenu.cshtml")
            </nav>
        </header>

        <div class="content-wrapper content">
            @RenderBody()
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Web nghe nhạc</p>
                </div>
            </div>
        </footer>
    </body>
</html>
