
<div class="content-wrapper">
    <ul class="level-1-menu">
        <li class="current-item">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li><a href="#">Thể loại</a>
            <div class="level-2-menu menu-col-3">
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Việt Nam</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Mỹ</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Á</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            @Html.ActionLink("Album", "ViewIndex", "Album")
            <div class="level-2-menu menu-col-3">
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Việt Nam</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div  class="subcol menu-col-1">
                    <a  class="sub-title" href="#">Châu Mỹ</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div  class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Á</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#">Playlist</a>
            <div class="level-2-menu menu-col-3">
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Việt Nam</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Mỹ</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Á</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            @Html.ActionLink("Video", "ViewIndex", "Video")
            <div class="level-2-menu menu-col-3">
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Việt Nam</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Mỹ</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Á</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#">BXH</a></li>
        <li>
            @Html.ActionLink("Nghệ Sĩ", "ViewIndex", "Artist")
            <div class="level-2-menu menu-col-3">
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Việt Nam</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Mỹ</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
                <div class="subcol menu-col-1">
                    <a class="sub-title" href="#">Châu Á</a>
                    <ul class="sub-item">
                        <li><a href="#">Nhạc trẻ</a></li>
                        <li><a href="#">Nhạc trữ tình</a></li>
                        <li><a href="#">Rap</a></li>
                        <li><a href="#">Rock</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>