<div class="container">
    <ul class="level-1-menu">
        <li class="current-item">@Html.ActionLink("Trang chủ", "Index")</li>
        <li><a class="genre-btn" href="#">Thể Loại</a></li>
        <li>
            @Html.ActionLink("Album", "ViewIndex", "Album")
        </li>
        <li>
            <a href="#">Playlist</a>
        </li>
        <li>
            @Html.ActionLink("Video", "ViewIndex", "Video")
        </li>
        <li><a href="#">BXH</a></li>
        <li>
            @Html.ActionLink("Nghệ Sĩ", "ViewIndex", "Artist")
        </li>
    </ul>
</div>

<div class="category-panel">
    <div class="container">
        <div class="category">
            <div class="sub-category">
                <a class="sub-title" href="#">Việt Nam</a>
                <ul class="sub-item">
                    <li><a href="#">Nhạc trẻ</a></li>
                    <li><a href="#">Nhạc trữ tình</a></li>
                    <li><a href="#">Rap</a></li>
                    <li><a href="#">Rock</a></li>
                    <li><a href="#">Nhạc trẻ</a></li>
                    <li><a href="#">Nhạc trữ tình</a></li>
                    <li><a href="#">Rap</a></li>
                    <li><a href="#">Rock</a></li>
                </ul>
            </div>
            <div class="sub-category">
                <a class="sub-title" href="#">Châu Mỹ</a>
                <ul class="sub-item">
                    <li><a href="#">Nhạc trẻ</a></li>
                    <li><a href="#">Rock</a></li>
                    <li><a href="#">Rock</a></li>
                    <li><a href="#">Nhạc trữ tình</a></li>
                    <li><a href="#">Rap</a></li>
                </ul>
            </div>
            <div class="sub-category">
                <a class="sub-title" href="#">Châu Á</a>
                <ul class="sub-item">
                    <li><a href="#">Nhạc trẻ</a></li>
                    <li><a href="#">Nhạc trữ tình</a></li>
                    <li><a href="#">Rap</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="clear" />

<script type="text/javascript">
    $('.genre-btn').click(function () {
        $('.category-panel').slideToggle(200);
    });
</script>
