<div class="container">
	<div class="logo-box">
		<a href="#"><span class="fa fa-cloud"></span></a>
	</div>

    <div class="search-box">
            <input type="text" id="txtSearch" placeholder="Tìm kiếm..." />
            <input type="button" class="submit-search fa fa-search" />
            <span class="icon fa fa-search"></span>
    </div>

    @Html.Partial("_LoginPartial")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.submit-search').click(function () {
            window.location = '/home/SearchIndex?searchString=' + $('#txtSearch').val();
        });
        $('#txtSearch').keypress(function (e) {
            if (e.which == 13) {//Enter key pressed
                $('.submit-search').click();//Trigger search button click event
            }
        });
    });
</script>