@{
    ViewBag.Title = "Đăng Nhập Thất Bại!";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Đăng Nhập Không Thành Công</h2>
</hgroup>
