################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoAnWebNgheNhac.v12.suo
/DoAnWebNgheNhac/bin
/DoAnWebNgheNhac/obj
/BusinessServices/bin
/BusinessServices/obj
/BusinessEntities/bin
/BusinessEntities/obj
/obj
/bin/debug
*.filters
*.sln
DoAnWebNgheNhac.v11.suo