@model BusinessServices.HomeServices
@{
    ViewBag.Title = "Home Page";
}

<div class="content col-left">
	<div class="home-slider">
        <!--SLIDER-->
        <!--http://kenwheeler.github.io/slick/-->
        <a href="#"><img  src="images/1449121076568_org.jpg" /> </a>
        <a href="#"><img  src="images/1449225786937_org.jpg" /></a>
        <a href="#"><img  src="images/1449048191492_org.jpg" /></a>
        <a href="#"><img  src="images/1449048191492_org.jpg" /></a>
        <a href="#"><img  src="images/1449048191492_org.jpg" /></a>
	</div>

	<div class="list_music">
		<div class="">
			<div class="title_box">
				<a href="#">NHẠC VIỆT HOT</a>
			</div>
            @{
                Html.RenderPartial("~/Views/Shared/_ListAlbumMusic.cshtml", Model.NhacVietHot);
            }
		</div>
		<div class="">
			<div class="title_box">
				<a href="#">NHẠC VIỆT MỚI</a>
			</div>
            @{
                Html.RenderPartial("~/Views/Shared/_ListAlbumMusic.cshtml", Model.NhacVietMoi);
            }
		</div>
	</div>
	<div class="list_album">
		<div class="title_box">
			<a href="#">ALBUM</a>
		</div>

		<ul>
            @if (Model != null)
                {
                    
                    foreach (var item in Model.GetAlbum)
                    {
			            <li>
				            <a class="thumbnail" href="#">
                                <span class="fa fa-play-circle play-icon"> </span>
					            <img src="images/@Html.DisplayFor(modelItem => item.AlbumProducts.FirstOrDefault().Product.Thumbnail)" >
                        
				            </a>
                    
                            <div class="description">
					            <h3><a href="home/playalbum?albumId=@item.Id">@Html.DisplayFor(modelItem => item.Tittle)</a></h3>
					            <h4><a href="artistproduct/ViewArtist?artistId=@item.AlbumProducts.FirstOrDefault().Product.ArtistProductId">@Html.DisplayFor(modelItem => item.AlbumProducts.FirstOrDefault().Product.ArtistProduct.StageName)</a></h4>
                            </div>
			            </li>
                     }
              }
		</ul>
	</div>
	<div class="list_video">
		<div class="title_box">
			<a href="#">VIDEO | MV</a>
		</div>
        @{
            var videos = Model.GetVideo;
            Html.RenderPartial("~/Views/Shared/_ListVideo.cshtml", videos);
        }
	</div>
</div>
<div class="sidebar col-right">
	<div class="box_chart_music">
		<div class="title_box">
			<a href="#">BXH BÀI HÁT</a>
        </div>
             @{
                Html.RenderPartial("~/Views/Shared/_BXH.cshtml", Model.BXH);
            }
	</div>
</div>
<div class="clear"></div>

<script type="text/javascript" >
    $(document).ready(function(){
        $('.home-slider').slick({
            dots: true,
            autoplay: true,
            autoplaySpeed: 5000,
            infinite: true,
    });
    });
</script>
