@model IEnumerable<BusinessEntities.AlbumEntity>
@{
    ViewBag.Title = "Home Page";
}

<div class="box_left">
	<div class="slider">
        <!--SLIDER-->
	</div>
	<div class="list_music">
		<div class="">
			<div class="title_box">
				<a href="#">NHẠC VIỆT HOT</a>
			</div>
			<ul>
				<li>
					<div class="info_song">
						<h3>
							<a href="">Anh Vẫn Yêu Em Như Ngày Đầu Tiên</a>
							-
							<a href="">Cao Thái Sơn</a>
						</h3>
						<span class="float-right">247,902</span>
						<div class="box_song_action"></div>
					</div>
				</li>
				<li>
					<div class="info_song">
						<h3>
							<a href="">Dưới Những Cơn Mưa</a>
							-
							<a href="">Mr. Siro</a>
						</h3>
						<span>2,091,422</span>
						<div class="box_song_action"></div>
					</div>
				</li>
				<li>
					<div class="info_song">
						<h3>
							<a href="">Tội Lỗi</a>
							-
							<a href="">Hồ Ngọc Hà</a>
						</h3>
						<span>1,287,919</span>
						<div class="box_song_action"></div>
					</div>
				</li>
				<li>
					<div class="info_song">
						<h3>
							<a href="">Tình Yêu Trong Vòng Tay</a>
							-
							<a href="">Lương Bích Hữu</a>
						</h3>
						<span>209,711</span>
						<div class="box_song_action"></div>
					</div>
				</li>
				<li>
					<div class="info_song">
						<h3>
							<a href="">Let Me Be The One</a>
							-
							<a href="">Trọng Hiếu</a>
						</h3>
						<span>12,506</span>
						<div class="box_song_action"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="">
			<div class="title_box">
				<a href="#">NHẠC VIỆT MỚI</a>
			</div>
			<ul>
				<li>
                    <div class="info_song">
						<h3>
							<a href="">Bài hát I Belong To You Bae</a>
							-
							<a href="">HUI</a>
						</h3>
					</div>	
				</li>
			</ul>
		</div>
	</div>
	<div class="list_album">
		<div class="title_box">
			<a href="#">ALBUM</a>
		</div>
		<ul>
			<li>
				<a class="thumbnail" href="#">
					<img src="../../Images/0c2b0067691ef5521afcebe2887028dc_1443425336.jpg" >
                        
				</a>
                    
                <div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
			<li>
				<a class="thumbnail" href="#">
					<img src="images/506d5153dcfd6d80d7fdfdb82d9e8fe2_1443686452.jpg" >
				</a>
                    
                <div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
			<li>
				<a class="thumbnail" href="#">
					<img src="images/6960b84e92417f604dad18dd76594729_1443686543.jpg">
				</a>
                    
                <div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
			<li>
				<a class="thumbnail" href="#">
					<img src="images/7500ed8542033b04579830ef16c40328_1443837080.jpg">
				</a>
                    
                <div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
		</ul>
	</div>
	<div class="list_video">
		<div class="title_box">
			<a href="#">VIDEO | MV</a>
		</div>
		<ul>
			<li>
				<a class="thumbnail" href="#">
					<img src="images/fe1be290d78713b68429c28181ae06d7_1443687046.jpg">
				</a>
				<div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
			<li>
				<a class="thumbnail" href="#">
					<img src="images/f680e73d65ab72f0f64e9eb03f4357de_1443785226.jpg">
				</a>
				<div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
			<li>
				<a class="thumbnail" href="#">
					<img src="images/f680e73d65ab72f0f64e9eb03f4357de_1443785226.jpg">
				</a>
				<div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
			<li>
				<a class="thumbnail" href="#">
					<img src="images/f680e73d65ab72f0f64e9eb03f4357de_1443785226.jpg">
				</a>
				<div class="description">
					<h3><a href="">Enjoy Your Life</a></h3>
					<h4><a href="">Karik</a></h4>
                </div>
			</li>
		</ul>
	</div>
</div>
<div class="box_right">
	<div class="box_chart_music">
		<div class="title_box">
			<a href="#">BXH BÀI HÁT</a>
        </div>
            <ul>
                <li>
                    <div class="chart_info_song">
                        <h3>
                            <a href="">Anh Vẫn Yêu Em Như Ngày Đầu Tiên</a>
                        </h3>
                        <a href="">Cao Thái Sơn</a>
                        <span class="float-right">247,902</span>
                        <div class="box_song_action"></div>
                    </div>
                </li>
                <li>
                    <div class="chart_info_song">
                        <h3>
                            <a href="">Dưới Những Cơn Mưa</a>
                        </h3>
                        <a href="">Mr. Siro</a>
                        <span>2,091,422</span>
                        <div class="box_song_action"></div>
                    </div>
                </li>
                <li>
                    <div class="chart_info_song">
                        <h3>
                            <a href="">Tội Lỗi</a>
                        </h3>
                        <a href="">Hồ Ngọc Hà</a>
                        <span>1,287,919</span>
                        <div class="box_song_action"></div>
                    </div>
                </li>
                <li>
                    <div class="chart_info_song">
                        <h3>
                            <a href="">Tình Yêu Trong Vòng Tay</a>
                        </h3>
                        <a href="">Lương Bích Hữu</a>
                        <span>209,711</span>
                        <div class="box_song_action"></div>
                    </div>
                </li>
                <li>
                    <div class="chart_info_song">
                        <h3>
                            <a href="">Let Me Be The One</a>
                        </h3>
                        <a href="">Trọng Hiếu</a>
                        <span>12,506</span>
                        <div class="box_song_action"></div>
                    </div>
                </li>
            </ul>
	</div>
</div>