@foreach (var item in Model.GetAristLevel1)
{
     <div class="sub-category">
                <a class="sub-title" href="/home/AlbumIndex?Id=@item.Id">@item.Tittle</a>
                <ul class="sub-item">
                    @foreach (var item2 in Model.GetAristLevel2)
                    {
                        if(@item2.ParentId == item.Id)
                        {
                     <li><a href="/home/AlbumIndex?Id=@item2.Id">@item2.Tittle</a></li>
                    }
                    }
                </ul>
            </div>
}
