@model IEnumerable<BusinessEntities.AlbumProductEntity>

<ul>@if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li>
					        <div class="info_song">
						        <h3>
							        <a href="/home/playmusic?id=@item.ProductId">@Html.DisplayFor(modelItem => item.Product.Name)</a>
							        -
							        <a href="/artistproduct/viewartist?artistId=@item.Product.ArtistProductId">@Html.DisplayFor(modelItem => item.Product.ArtistProduct.StageName)</a>
						        </h3>
						        <span class="float-right">@Html.DisplayFor(modelItem => item.Product.Views)</span>
						        <div class="box_song_action"></div>
					        </div>
				        </li>
                    }
                }
    </ul>