@model IEnumerable<BusinessEntities.AlbumEntity>

@{
    ViewBag.Title = "Album";
 }

 <ul>@if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li>@Html.DisplayFor(modelItem => item.AlbumProducts)</li>
                    }
                }
    </ul>