@model IEnumerable<BusinessEntities.ProductEntity>
@{
    ViewBag.Title = "SearchIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content col-left">

    <div class="search-title">
		KẾT QUẢ
        <p>Tìm kiếm cho "@Request.QueryString["searchString"]"</p>
	</div>

    

    
            @{
                var groups = Model.GroupBy(x => x.Category);

                foreach (var item in groups)
                {
                    if(item.First().Category == "Video")
                    {
                        <div class="list_video">
			                <div class="title_box">VIDEO</div>
                            @{
                                Html.RenderPartial("~/Views/Shared/_ListProductVideo.cshtml", item);
                            }
                        </div>
                    }
                    else
                    {
                        <div class="list_music">
			                <div class="title_box">BÀI HÁT</div>
                            @{
                                Html.RenderPartial("~/Views/Shared/_ListMusic.cshtml", item);
                            }
                        </div>
                    }
                }
            }
	
    


</div>

<div class="sidebar col-right">
    <div class="title_box">
		<a href="#">NHẠC VIỆT HOT</a>
	</div>

    @{
        Html.RenderAction("NhacVietHotIndex", "Home");
    }
</div>
