@model BusinessServices.Menu

<ul>
    @{
        if(Model!=null)
        {
            foreach(var item in Model.AlbumMenu)
            {
                <li><a href="#">@item.Tittle</a></li>
            }
        }
        }
</ul>